NET "n1<0>" LOC = L14;
NET "n1<1>" LOC = L13;
NET "n1<2>" LOC = N17;
NET "n1<3>" LOC = R17;

NET "n2<0>" LOC = G18;
NET "n2<1>" LOC = H18;
NET "n2<2>" LOC = K18;
NET "n2<3>" LOC = K17;

NET "result<0>" LOC = J14;
NET "result<1>" LOC = J15;
NET "result<2>" LOC = K15;
NET "result<3>" LOC = K14;
NET "result<4>" LOC = E17;
NET "result<5>" LOC = P15;
NET "result<6>" LOC = F4;
NET "result<7>" LOC = R4;

NET "ope<3>" LOC = H13;
NET "ope<2>" LOC = E18;
NET "ope<1>" LOC = D18;
NET "ope<0>" LOC = B18;

NET "clk" LOC = B8;

NET "an<0>" LOC = F17;
NET "an<1>" LOC = H17;
NET "an<2>" LOC = C18;
NET "an<3>" LOC = F15;

NET "seg7_display<0>" LOC = L18;
NET "seg7_display<1>" LOC = F18;
NET "seg7_display<2>" LOC = D17;
NET "seg7_display<3>" LOC = D16;
NET "seg7_display<4>" LOC = G14;
NET "seg7_display<5>" LOC = J17;
NET "seg7_display<6>" LOC = H14;
NET "seg7_display<7>" LOC = C17;
